<section class="first-section">
    <div class="box-main">
      <div class="firsthalf">
      <p class="big-text">Stay Home,<br />Stay Safe.</p>
        <p class="small-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum ad
          vitae eligendi alias,
        </p>
        <div class="buttons">
          <button class="btn">
            <a href="#">Check Symptoms</a>
          </button>
      </div>
      </div>

      <div class="secondhalf">
        <img src="/img/main.jpg" alt="main" />
      </div>
    </div>
  </section>